<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


    <title>Document</title>
</head>
<body>
<div class="container" id="home">

    <div class="row">
        {{texto}}
        <input class="form-control" type="text" name="texto" id="texto" v-model="texto">
    </div>

    <div class="row">
        <ul>
            <li v-for="cadastro in cadastros">
                {{cadastro.nome}}
            </li>
        </ul>
    </div>

    <div class="row">
        <input type="text" class="form-control" v-model="novo" v-on:keyup.enter="adicionarElemento">
        <ul>
            <li v-for="(elemento, index) in elementos">
                {{elemento.titulo}}
                <i v-on:click="removerElemento(index)" class="far fa-times-circle"></i>
            </li>
        </ul>
    </div>

    <div class="row">
        <input class="form-control" v-on:keyup="keyUp()" type="text" v-model="mensagem">
    </div>

    <div v-bind:class="['row', {'text-danger': true}]" :style="{ fontSize: 12 + 'px' }">
        <span>
            Mudei de Cor
        </span>
    </div>
   
    

</div>
<script src="./node_modules/jquery/dist/jquery.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/vue-resource/dist/vue-resource.js"></script>


<script src="./logica.js"></script>
</body>
</html>